<?xml version="1.0" encoding="utf-8"?>
<configuration scan="true" scanPeriod="10000" debug="false">
    <property name="APP_Name" value="myAppName"></property>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"></timestamp>
    <contextName>${bySecond}</contextName>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}[%t]%le %logger{66} - %m%n</pattern>
        </encoder>
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <logger name="com.ctrip.lpxie.basement.logback" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>